.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.headerBorder {
  border-bottom: solid black;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.button {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
